<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">College App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" *ngFor="let component of components">
      <li class="nav-item">
        <a class="nav-link cursorPointer" (click)="goTo(component.route)">{{component.name}}</a>
      </li>
    </ul>
  </div>
</nav>